*{
	margin:0px;
	padding:0px;
	font-family: sans-serif;
}
header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(IMG-20191109-WA0310.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid;
	transition: 0.6s;
	margin-top:10px;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
ul li.active a{
	background-color: #fff
	color:#000;
}
.title{
	position: absolute;
	top: 30%;
	left:50%;
	transform: translate(-50%;-50%);
}
.title h1{
	font-family: sans-serif;
	color:#fff;
	font-size: 20px;
}
.text{
	position: absolute;
	top: 55%;
	left :50%;
	transform: translate(-50%;-50%);
}
.text h3{
	font-family: serif;
	color: #fff;
	font-size: 20px;
}
.button{
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%;-50%);
}
.btn1{
	border: 1px solid;
	padding: 10px 30px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin: 10px;
}
.btn1:hover{
	background: #fff;
	color:#000;
}
.btn2{
	border:1px solid;
	padding: 10px 50px;
	color:#fff;
	text-decoration: none;
	transition: 0.6s ease;
	border-radius: 5px;
	margin:5px;
}
.btn2{
	background: #fff;
	color:#000;
}

